<main class="main">
  <h1>{{ text.TITLE }}</h1>

  <div class="container">
    <p>Number 1
      <input type="number" name="number1">
    </p>
    <p>Number 2
      <input type="number" name="number2">
    </p>
  </div>

  <img src="assets/calculator.png" alt="icon showing the four operations in a green circle">

  <h2>{{ text.CHOOSE_YOUR_OPERATOR }}</h2>

  <div class="calculator-buttons">
    <button class="operation-button" type="button">{{ text.ADITION_BUTTON }}</button>
    <button class="operation-button" type="button">{{ text.SUBTRACTION_BUTTON }}</button>
    <button class="operation-button" type="button">{{ text.MULTIPLY_BUTTON }}</button>
    <button class="operation-button" type="button">{{ text.DIVISION_BUTTON }}</button>
  </div>

  <h2>{{ text.RESULT }}:</h2>

</main>

<router-outlet></router-outlet>